---
import type { HTMLAttributes } from "astro/types";
import clsx from "clsx";

export interface Props extends HTMLAttributes<"button"> {
  class?: string;
  variant?: "primary" | "secondary" | "tertiary";
}

const { variant, class: className, ...rest } = Astro.props;
---

<button
  class={clsx(
    className,
    "rounded-3xl px-6 py-2 font-bold uppercase tracking-widest",
    {
      "bg-primary-300 text-neutral-600": variant === "primary",
      "bg-primary-900 text-neutral-100": variant === "secondary",
      "bg-primary-600 text-neutral-100": variant === "tertiary",
    },
  )}
  {...rest}
>
  <slot />
</button>
