---
import clsx from "clsx";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class={clsx(
    className,
    "grid place-items-center px-6 py-12 sm:py-20 md:px-12",
  )}
>
  <slot />
</section>
