---
import Search from "../components/Search.astro";
const navItems = [
  { href: "#", text: "Home" },
  { href: "#", text: "Menu" },
  { href: "#", text: "Our Story" },
  { href: "#", text: "Contact Us" },
];
---

<nav
  class="bg-transparent flex w-full flex-wrap items-center justify-end p-4 text-neutral-100 md:p-8"
>
  <ul class="flex gap-4 text-sm md:gap-8 md:text-sm">
    {
      navItems.map((item) => (
        <li class="group relative font-sans font-semibold uppercase tracking-widest transition-colors">
          <span
            class="absolute bottom-0 h-px w-full bg-primary-200 opacity-0 transition-opacity group-hover:opacity-100"
            aria-hidden="true"
          />
          <a href={item.href}>{item.text}</a>
        </li>
      ))
    }
  </ul>
  <Search />
</nav>
